body{
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}
img{
    width: 30%;
    
}
#headerimg{
    width: 70%;
    margin: 20%;
    border: 5px red solid
}
.profile-photo{
    width: 250px;
}
 
section#maindesc{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img#headerimg:hover{
    transition: all 0.5s;
    width: 100%;

}
#char-table tr:nth-child(even){
    background-color: #FF1E1E;
}
#char-table tr:nth-child(odd){
    background-color: #FFEEAF;
}

#char-table{
    border-inline-color: red;
    border-spacing: 5px;
    border-radius: 15px;
    border-top-color: red;
}

body{
    margin: 0 20%;
    border: 1px black solid;
    background-image: url(thumb-1920-1066635.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section,footer,header{
    padding: 10px;
    background-color: aliceblue;
}
footer{text-align: center;}

#navbar li{
    display: inline;
    background-color: #FF1E1E;
    padding: 10px;
    float:right;
    border: 1.5px gray solid;
    border-radius: 5px;
}
#navbar li:nth-child(4){
    background-color: #FF1E1E;
    float: left;
    
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar a{
    color: antiquewhite;
}